@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styles */
body {
  background-color: black;
  color: white;
  overflow: hidden;
  font-family: 'Inter', sans-serif;
}

.center-abs {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}